---
layout: layouts/hlavni-sablona.njk
---

<!-- vložíme hlavičku stránky -->
{% include 'partials/header.njk' %}

<!-- přidáme menu -->
{% include 'partials/menu.njk' %}


{% if page.fileSlug !== 'blog' %}

	<div class="informace">
		Z nařízení vlády je naše prodejna zavřená. V otevíracích hodinách funguje naše prodejna jako výdejna e-shopu.
	</div>

{% endif %}

<main class="main">

	<!--
		zde se vloží obsah stránky (nebo šablony),
		která používá tuto šablonu
	-->
	{{ content | safe }}

</main>


<!-- vložíme patičku stránky -->
{% include 'partials/footer.njk' %}